<p>shopping-cart works!</p>
<section class="mt-3">

    <div class="container">

        <div class="row">

            <div class="col">
                <table class="table-container">
                    <thead class="tableHead">
                        <tr>
                            <th>sNO</th>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Qty</th>
                            <th>Total</th>
                        </tr>
                    </thead>



                    <tbody>
                        <tr *ngFor="let product of products">
                            <td>{{product.sno}}</td>
                            <td><img [src]="product.image" alt="" width="50" height="50"></td>
                            <td>{{product.name}}</td>
                            <td>{{product.price | currency}}</td>

                            <td>
                                <i (click)="decrementQty(product.sno)" class="minus">&#8722;</i>
                                {{product.qty}}
                                <i (click)="incrementQty(product.sno)" class="plus">&#43;</i>
                            </td>

                            <td>{{product.price*product.qty| currency}}</td>

                        </tr>
                        <tr>
                            <td colspan="4"> </td>
                            <td>Grand Total</td>
                            <td>{{ calcGrandTotal()| currency}}</td>


                        </tr>


                    </tbody>
                </table>

            </div>
        </div>
    </div>
</section>