
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  .table-container{

    background-color: #64bbee;
  }
  .tableHead {
    background-color: #8e8888;
  }