.nav{

    display: flex;
    background-color: rgb(77, 143, 209);
    border-radius: 10px;
    
 
}

.nav > div {
    background-color: white;
    margin: 10px;
    padding: 5px;
    font-size: 10px;

    border-radius: 15px;
  }